body{
    background-color: #EBEAFF;
}
.stu-card{
    border: 1px solid white;
    padding:10px 20px;
    margin: 10px;
    border-radius: 20px;
    font-size: 18px;
    background-color: #FFD7C4;
}
.flex-container{
    display: flex;
    flex-direction: row;
}
.heading{
    height: 400px;
    width: 500px;
    margin-top: 5%;
    margin-left: 10%;
}
.order-container{
    height:550px;
    width: 500px;
    margin-top: 3%;
    margin-left: 10%;
    background-color:#9694FF;
    position: relative;
}
.title{
    font-size:40px;
    padding: 10px;
    border-radius: 10px;
    margin-left: 30px;
    text-align: center;
    background-color:#FF2929;
    color: white;
}
.stall-img{
    height: 370px;
    width: 370px;
    margin-left: 80px;
}
.btn{
    position: absolute;
    cursor: pointer;
}
.btn:hover{
    box-shadow: 3px 3px 7px 2px #333333;
}
.input-btn{
    left: 10px;
    bottom: 10px;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    padding-left: 10px;
}
.add{
    bottom: 12px;
    left:220px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: yellow;
    color: black;
    width:110px;
    font-size: 15px;
}
.remove{
    left: 340px;
}